[Unit]
Description=WAF Services with tmux
After=network.target

[Service]
Type=forking
User=user
WorkingDirectory=/waf_service
Environment=PATH=/usr/bin:/usr/local/bin
ExecStart=/waf_service/start_tmux_service.sh
ExecStop=/waf_service/stop_tmux_service.sh
Restart=always
RestartSec=10
StandardOutput=append:/waf_service/logs/tmux-service.log
StandardError=append:/waf_service/logs/tmux-service.log

[Install]
WantedBy=multi-user.target
